@font-face {
  font-family: "Platform-OLX-App";
  src: url("../fonts/Platform-OLX-App-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Platform";
  src: url("../fonts/Platform-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Platform";
  src: url("../fonts/Platform-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Platform OLX";
  src: url("../fonts/Platform-OLX-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Platform OLX";
  src: url("../fonts/Platform-OLX-Bold.otf");
  font-weight: 700;
}